.button {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    animation: button-crack 0.3s forwards;
  }
}

@keyframes button-crack {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1) rotate(5deg);
  }

  100% {
    transform: scale(1) rotate(-5deg);
  }
}
